DISCORD_TOKEN="token"
GOOGLE_KEY_PATH="./sample.json"
SPREADSHEET_ID="ss_id"
SCHEDULE_SHEET="sheet0"
REQUEST_SHEET="sheet1"
EXCHANGE_SHEET="sheet2"
PROXY_SHEET="sheet3"
FEEDBACK_SHEET="sheet4"
STUDENT_SHEET="sheet5"
DISCORD_USER_SHEET="sheet6"
#PUBLIC_SPREADSHEET_ID="public_ss_id"
#PUBLIC_SCHEDULE_SHEET="sheet7"
